<h3>Cart</h3>

<a style="font-weight: bold; font-size: 15px" [routerLink]="['/shipping']">
  Shipping Prices
</a>
<br />
<br />

<div class="cart-item" *ngFor="let item of items">
  <span>{{ item.name }}</span>
  <span>{{ item.price | currency }}</span>
</div>

<a style="font-weight: bold; font-size: 15px">
  Total: {{ getTotal(items) | currency: 'USD':true:'1.2-2' }}
</a>
<br />
<br />

<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)">
  <div>
    <label for="name"> Name </label>
    <input id="name" type="text" formControlName="name" />
  </div>

  <div>
    <label for="address"> Address </label>
    <input id="address" type="text" formControlName="address" />
  </div>

  <button class="button" type="submit">Purchase</button>
</form>
