<h2>Products</h2>

<div *ngFor="let product of products">
  <br />
  <a
    style="font-weight: bold; font-size: 20px"
    [title]="product.name + ' details'"
  >
    {{ product.name }}
  </a>
  <span [title]="product.name + ' details'">
    (Price: {{ product.price | currency: 'USD':true:'1.2-2' }})</span
  >
  <br />

  <span *ngIf="product.description"
    >Description: {{ product.description }}</span
  >

  <br />

  <button (click)="share()">
    <i class="material-icons" style="color:blue;">share</i
    >&nbsp;&nbsp;&nbsp;Share
  </button>

  <app-product-alerts [product]="product" (notify)="onNotify()">
  </app-product-alerts>

  <br />
</div>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->
