<h2>Products</h2>

<div *ngFor="let product of products; index as productId">
  <a
    style="font-weight: bold; font-size: 20px"
    [title]="product.name + ' details'"
    [routerLink]="['/products', productId]"
  >
    {{ product.name }}
  </a>
  <a style="font-size: 15px">
    ({{ product.price | currency: 'USD':true:'1.2-2' }})</a
  >
  &nbsp;
  <a
    [title]="' Share '"
    (click)="share()"
    class="material-icons"
    style="color:gray; font-weight: bold; font-size: 18px"
    >share</a
  >
  <app-product-alerts [product]="product" (notify)="onNotify()">
  </app-product-alerts>

  <br />

  <span *ngIf="product.description"
    >Description: {{ product.description }}</span
  >

  <br />
  <br />
</div>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->
